USE [XDA]
GO
/****** Object:  Table [dbo].[VEMT_BACKUP]    Script Date: 12/24/2015 20:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEMT_BACKUP](
	[stt] [float] NULL,
	[hoten] [nvarchar](255) NULL,
	[phai] [float] NULL,
	[gt] [nchar](10) NULL,
	[ngaysinh] [float] NULL,
	[nsinh] [datetime] NULL,
	[namtn] [float] NULL,
	[sobaodanh] [nvarchar](255) NOT NULL,
	[kyluat] [bit] NOT NULL,
	[bothi] [bit] NOT NULL,
	[phuckhao] [bit] NOT NULL,
	[phongthi] [float] NULL,
	[phone] [float] NULL,
	[ghichu] [nvarchar](255) NULL,
	[diem] [float] NULL,
	[xahktt] [nvarchar](255) NULL,
	[huyenhktt] [nvarchar](255) NULL,
	[tinhhktt] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[cmnd] [float] NULL,
	[ngaycap] [float] NULL,
	[ngcapcmt] [datetime] NULL,
	[noicap] [nvarchar](255) NULL,
	[lephi] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[VEMT_BACKUP] ([stt], [hoten], [phai], [gt], [ngaysinh], [nsinh], [namtn], [sobaodanh], [kyluat], [bothi], [phuckhao], [phongthi], [phone], [ghichu], [diem], [xahktt], [huyenhktt], [tinhhktt], [email], [cmnd], [ngaycap], [ngcapcmt], [noicap], [lephi]) VALUES (1, N'Đỗ Tấn Thành', 0, N'Nam       ', 121096, CAST(0x00008A1400000000 AS DateTime), 2014, N'XDA.V.001', 0, 0, 0, 23, 1687530574, NULL, 0, N'Thị trấn Hợp Hoà', N'Huyện Tam Dương', N'Vĩnh Phúc', N'dothanhtdvp121096@gmail.com', 135686032, 60811, CAST(0x00009EFC00000000 AS DateTime), N'Công an tỉnh Vĩnh Phúc', 300)
INSERT [dbo].[VEMT_BACKUP] ([stt], [hoten], [phai], [gt], [ngaysinh], [nsinh], [namtn], [sobaodanh], [kyluat], [bothi], [phuckhao], [phongthi], [phone], [ghichu], [diem], [xahktt], [huyenhktt], [tinhhktt], [email], [cmnd], [ngaycap], [ngcapcmt], [noicap], [lephi]) VALUES (2, N'Công Thị Minh Huyền', 1, N'Nữ        ', 60197, CAST(0x00008A6A00000000 AS DateTime), 2015, N'XDA.V.002', 0, 0, 0, 13, 1698261992, NULL, 0, N'phường Phú Thượng', N'Quận Tây Hồ', N'Hà Nội', N'tranhunggiang71@yahoo.com.vn', 1197004205, 90115, CAST(0x0000A50600000000 AS DateTime), N'Cục CS ĐKQL cư trú & DLQG về dân cư', 300)
INSERT [dbo].[VEMT_BACKUP] ([stt], [hoten], [phai], [gt], [ngaysinh], [nsinh], [namtn], [sobaodanh], [kyluat], [bothi], [phuckhao], [phongthi], [phone], [ghichu], [diem], [xahktt], [huyenhktt], [tinhhktt], [email], [cmnd], [ngaycap], [ngcapcmt], [noicap], [lephi]) VALUES (3, N'Nguyễn Trần Bình Nguyên', 0, N'Nam       ', 280197, CAST(0x00008A8000000000 AS DateTime), 2015, N'XDA.V.003', 0, 0, 0, 18, 904365443, NULL, 0, N'xã Quất Động', N'Huyện Thường Tín', N'Hà Nội', N'bonus500damage@gmail.com', 17510007, 231013, NULL, N'Công an TP Hà Nội', 300)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
/****** Object:  Table [dbo].[vemt]    Script Date: 12/24/2015 20:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vemt](
	[sohs] [nvarchar](50) NOT NULL,
	[hoten] [nvarchar](255) NULL,
	[phai] [bit] NULL,
	[gt] [nvarchar](50) NULL,
	[ngaysinh] [datetime] NULL,
	[namtn] [float] NULL,
	[sobaodanh] [nvarchar](255) NULL,
	[phongthi] [float] NULL,
	[phone] [nvarchar](20) NULL,
	[ghichu] [nvarchar](255) NULL,
	[diem] [float] NULL,
	[hktt] [nvarchar](255) NULL,
	[huyenhktt] [nvarchar](255) NULL,
	[noisinh] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[cmnd] [varchar](50) NULL,
	[ngcapcmt] [datetime] NULL,
	[noicap] [nvarchar](255) NULL,
	[lephi] [bit] NULL,
	[tui] [float] NULL,
	[phach] [float] NULL,
	[stt] [int] NULL,
	[stttui] [int] NULL,
	[phonecodinh] [nvarchar](20) NULL,
	[username] [nchar](25) NULL,
	[password] [nchar](25) NULL,
 CONSTRAINT [PK_vemt_1] PRIMARY KEY CLUSTERED 
(
	[sohs] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[vemt] ([sohs], [hoten], [phai], [gt], [ngaysinh], [namtn], [sobaodanh], [phongthi], [phone], [ghichu], [diem], [hktt], [huyenhktt], [noisinh], [email], [cmnd], [ngcapcmt], [noicap], [lephi], [tui], [phach], [stt], [stttui], [phonecodinh], [username], [password]) VALUES (N'10', N'Nguyễn Phúc Đức', 1, N'Nam', CAST(0x00008B1800000000 AS DateTime), 2015, N'XDA.V140', 13, N'1647854926', N'', 3, N'xã Thắng Lợi', N'huyện Văn Giang', N'Hưng Yên', N'', N'145765151', CAST(0x0000A05D00000000 AS DateTime), N'Công an tỉnh Hưng Yên', 0, 15, 437, 361, 10, N'', NULL, NULL)
INSERT [dbo].[vemt] ([sohs], [hoten], [phai], [gt], [ngaysinh], [namtn], [sobaodanh], [phongthi], [phone], [ghichu], [diem], [hktt], [huyenhktt], [noisinh], [email], [cmnd], [ngcapcmt], [noicap], [lephi], [tui], [phach], [stt], [stttui], [phonecodinh], [username], [password]) VALUES (N'100', N'Mai Ngọc Phương', 1, N'Nam', CAST(0x00008B7F00000000 AS DateTime), 2015, N'XDA.V542', 9, N'1677431047', N'', 2, N'xã Thụy An', N'huyện Thái Thụy', N'Thái Bình', N'', N'152194074', CAST(0x0000A0D900000000 AS DateTime), N'Công an tỉnh Thái Bình', 0, 10, 326, 244, 1, N'', NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
/****** Object:  UserDefinedFunction [dbo].[layChisoten]    Script Date: 12/24/2015 20:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[layChisoten](
	@Hoten nvarchar(25)
)
returns int
as
begin
	declare @chuoiNguoc nvarchar(25);
	set @chuoiNguoc = reverse (@Hoten);
	declare @n int
	set @n= len(@Hoten)-charindex(' ',@chuoiNguoc,1)+1;
	return @n;
end
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 12/24/2015 20:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[username] [nvarchar](25) NOT NULL,
	[pass] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[nhanvien] ([username], [pass]) VALUES (N'khacnam', N'123456')
/****** Object:  UserDefinedFunction [dbo].[layTen]    Script Date: 12/24/2015 20:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[layTen](
	@Hoten nvarchar(25)
)
returns nvarchar(10)
as
begin
	declare @n int
	set @n=dbo.layChisoten(@Hoten);
	return substring (@Hoten,@n+1,25);
end
GO
/****** Object:  View [dbo].[Ten]    Script Date: 12/24/2015 20:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Ten]
as
	(select sobaodanh,
			dbo.layTen(hoten) as  TenTS from vemt) ;
GO
